.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
/nbproject/
.idea/
*.iml

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
